* {
    margin: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');

}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');

}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');

}
@font-face {
    font-family: 'Roboto-Italic';
    src: url('../fonts/Roboto-Italic.ttf') format('truetype');

}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');

}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');

}

body {
    background: rgb(35,35,40);
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 100%;   
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-animation: fadeBody 1s ease-in;
    -moz-animation: fadeBody 1s ease-in;
}
.wrapper {
    color: white;
    overflow:auto;
    min-height: 100%;
}

a {
  color: white;
}

.logo {
    float: none;
    margin-right: 50px;
    padding-top: 2px;
    padding-left: 20px;
}

.tableLog{
    height: 100%;
    overflow: hidden;
}

.ofScroll{
    font-size: 14px;
    width: 100%;
    word-wrap: break-word;
}

.ofScroll tbody{
    overflow-x: hidden;
    height: 80%;
}
.ofScroll tbody td, .ofScroll thead th{
    color: #e6e6e6;
    font-weight: normal;
}

th {
    border-bottom: 2px solid rgba(0,0,0,0.2);
    padding: 40px 10px 20px;
    font-family: "Roboto-Medium";
}

td {
    font-size: 12px;
    padding: 10px 10px;
    text-align: center;
    white-space: nowrap;
}

.helperItem{
    opacity: 0;
    position: absolute;
    right: -10px;
    top: -10px;
    background: rgba(27, 25, 29, 1);
    padding: 10px;
    border-radius: 6px 0 0 6px;
    visibility: hidden;
    z-index: 10;
}
.helperP:hover{

}

.helperP:hover > .helperItem,.helperP:hover > .except {
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease-in-out .2s;
}

.except{
    opacity: 0;
    position: absolute;
    left: 30px;
    top: -10px;
    background: rgba(27, 25, 29, 1);
    padding: 10px;
    border-radius: 0 6px 6px 0;
    visibility: hidden;
    z-index: 10;
}

.helperP{
    position: relative;
    padding: 5px 0;
}
.statusIcon{
        font-size: 18px; 
}

.redSign{
    color:#e6503c;
    position: relative;
}

.greenSign{
    color: #96cc5a;
}

.yellowSign{
    color: #f5a623;
}

.pie {
    font-size: 40px;
    bottom: 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;

    margin-top: -150px; /* negative value of footer height */
    height: 180px;
    clear:both;

    position: fixed;
    left: 0;
    right: 0;
    background-color: black;
    border-top: 1px dashed white;
}

.bottomLine{
    background: rgba(59,60,67,0.98);
    bottom: 10%;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    box-sizing: border-box;
    height: 50px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    white-space: nowrap;
}

.mapView{
    position: relative; 
    width: 80%; 
    height: 80%;
    margin: 0 auto;
}

/* @group Marquee */

.marquee div {
    display: block;
    width: 200%;        
    position: absolute;
    overflow: hidden;
    
    -webkit-animation: marquee 20s linear infinite;
    -moz-animation: marquee 20s linear infinite;
    -ms-animation: marquee 20s linear infinite;
    -o-animation: marquee 20s linear infinite;
    animation: marquee 20s linear infinite;
}
.marquee section {
    float: left;
    width: 50%;
}
    
@-webkit-keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}
@-moz-keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}
@-ms-keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}
@-o-keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}
@keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}

/* @end */


span.barTitle {
color: #fbb03b;
font-family: 'Roboto-Medium';
font-size: 14px;
padding: 15px 20px 10px 40px;
display: inline-block;
text-transform: uppercase;
}
span.barElement {
color: rgba(250,250,250,0.8);
font-family: 'Roboto-Medium';
font-size: 14px;
display: inline-block;
padding: 0 10px;
}

.poweredby{
    width: 140px;
    position: absolute;
    bottom: 5%;
    margin-bottom: -15px;
    right: 20px;
}

.total_izquierda {
    height: 100%;
}
.rightWidget{
    background: #3C3D44;
    box-sizing: border-box;
    height: 25%;
    text-align: center;
    display: table;
    width: 100%;
    border-bottom: 2px solid rgb(35,35,40);
    }
.rwCell{
vertical-align: middle;
display: table-cell;
    
}
.rightWidget h1{
    color: #e6e6e6;
    font-family: 'Roboto-Thin';
    font-size: 40px;
    font-weight: normal;
}

.rightWidget span{
    width: 100%;
    vertical-align: middle;
    font-family: 'Roboto-Medium';
    font-size: 16px;
    padding-bottom: 10px;
    opacity: 0.6;
}
.total_derecha {
    padding-top: 40px;
    height: 100%;
}

#map-canvas {
    width: 100%;
    height: 100%;
    position: relative;
 }

path {
    stroke: white;
    stroke-width: 0.25px;
    fill: grey;
}

.container_grafico {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.widget{
    background: rgb(62,60,65);
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);

}
.titulo_grafico {
    border-bottom: 2px solid rgba(0,0,0,0.2);
    color:#ccc;
    float: none;
    font-family: "Roboto-Medium";
    font-size: 15px;
    padding: 30px 0 25px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.grafico {
    width: 90%;
    height: 300px;
}



/*MAPAAA*/


    #map {
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
    }

    #map svg {
        width: 100%;
        height: 100%;
    }

    #map .feature {
        fill : rgba(0,0,0,0.2);
        stroke : rgba(0,0,0,0.2);
    }

    #c {
        left: 0;
        top: 0;
        z-index: 1;
    }

    #s {
        left: 0;
        top: 0;
        z-index: 2;
    }

    .gtLeg, .gttLeg {
        fill : #f9f9f9;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    }

    .com-mess {
        font-size: 11pt;
        font-family: Verdana,serif;
        fill: #ffffff;
        fill-opacity: .3;
    }

    #pb {
        left: 0;
        bottom: 0;
        position: fixed;
        z-index: 100;
        height: auto;
        font-size: 10px;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
