* {
    margin: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');

}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');

}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');

}
@font-face {
    font-family: 'Roboto-Italic';
    src: url('../fonts/Roboto-Italic.ttf') format('truetype');

}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');

}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');

}

body {
    background: rgb(35,35,40);
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 100%;   
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-animation: fadeBody 1s ease-in;
    -moz-animation: fadeBody 1s ease-in;
}
#wrapper {
    margin-top: 40px;
}

a {
  color: white;
}

.logo {
    float: none;
    margin-right: 50px;
    padding-top: 2px;
    padding-left: 20px;
}

.tableLog{
    height: 100%;
    overflow: hidden;
}

.ofScroll{
    font-size: 14px;
    width: 100%;
    word-wrap: break-word;
}

.ofScroll tbody{
    overflow-x: hidden;
    height: 80%;
}
.ofScroll tbody td, .ofScroll thead th{
    color: #e6e6e6;
    font-weight: normal;
}

.overMessage{
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgb(35,35,40);
    z-index: 10;
    padding: 20% 0;

}
.overMessage p{
    color: rgba(255,255,255,0.54);
}
.loader{
    height: 60px;
margin: 10px 0 20px;
}

th {
    padding: 15px 20px 12px;
    font-family: "Roboto-Bold";
    color: rgb(144, 144, 144);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 13px;
}

td {
    font-size: 0.9em;
    padding: 10px 0px;
    text-align: center;
    white-space: nowrap;
    color: rgb(210, 210, 210);
    font-family: "Roboto-Medium";
}

.helperItem{
    opacity: 0;
    position: absolute;
    right: -10px;
    top: -10px;
    background: rgba(27, 25, 29, 1);
    padding: 10px;
    border-radius: 6px 0 0 6px;
    visibility: hidden;
    z-index: 10;
}
.helperP:hover{

}

.helperP:hover > .helperItem,.helperP:hover > .except {
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease-in-out .2s;
}

.except{
    opacity: 0;
    position: absolute;
    left: 30px;
    top: -10px;
    background: rgba(27, 25, 29, 1);
    padding: 10px;
    border-radius: 0 6px 6px 0;
    visibility: hidden;
    z-index: 10;
}

.helperP{
    position: relative;
    padding: 5px 0;
}
.statusIcon{
        font-size: 18px; 
}

.redSign{
    color:#e6503c;
    position: relative;
}

.greenSign{
    color: #96cc5a;
}

.yellowSign{
    color: #f5a623;
}

.pie {
    font-size: 40px;
    bottom: 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;

    margin-top: -150px; /* negative value of footer height */
    height: 180px;
    clear:both;

    position: fixed;
    left: 0;
    right: 0;
    background-color: black;
    border-top: 1px dashed white;
}

.bottomLine{
    background: rgba(59,60,67,0.98);
    bottom: 10%;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    box-sizing: border-box;
    height: 50px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    white-space: nowrap;
}

.mapView{
    position: relative; 
    width: 80%; 
    height: 100%;
    margin: 0 auto;
}

/* @group Marquee */

/* @end */


span.barTitle {
color: rgba(251, 154, 59, 0.6);
font-family: 'Roboto-Medium';
font-size: 18px;
padding: 13px 20px 10px 40px;
display: inline-block;
text-transform: uppercase;
}
span.barElement {
color: rgba(255, 255, 255, 0.83);
font-family: 'Roboto-Regular';
font-size: 16px;
display: inline-block;
padding: 0 10px;
}

.total_izquierda {
    height: 100%;
    position: relative;
    z-index: 10;
}
.rightWidget{
    background: #3C3D44;
    box-sizing: border-box;
    height: 22%;
    text-align: center;
    display: table;
    width: 100%;
    border-bottom: 2px solid rgb(35,35,40);
    }
.logosWidget{
    background: #28282C;
    box-sizing: border-box;
    height: 12%;
    text-align: center;
    display: table;
    width: 100%;   
}

.rwCell{
vertical-align: middle;
display: table-cell;
position: relative;
    
}
.rightWidget h1{
    color: #e6e6e6;
    font-family: 'Roboto-Thin';
    font-size: 40px;
    font-weight: normal;
}

.rightWidget span{
    width: 100%;
    vertical-align: middle;
    font-family: 'Roboto-Medium';
    font-size: 16px;
    padding-bottom: 10px;
    opacity: 0.3;
}
.total_derecha {
    padding-top: 40px;
    height: 100%;
}

#map-canvas {
    width: 100%;
    height: 100%;
    position: relative;
 }
/*
path {
    stroke: white;
    stroke-width: 0.25px;
    fill: grey;
}*/

.container_grafico {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.widget{
    background: rgb(62,60,65);
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);

}
.titulo_grafico {
    border-bottom: 2px solid rgba(0,0,0,0.2);
    color:#ccc;
    float: none;
    font-family: "Roboto-Medium";
    font-size: 15px;
    padding: 30px 0 25px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.grafico {
    width: 90%;
    height: 300px;
}

.iconsRow{
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: rgb(35,35,40);
    z-index: 0;
}
.rwCell .miloLogo{
    width: 110px;
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 19px;
}

.poweredSvg-map{
width: 140px;
position: absolute;
margin-bottom: -15px;
}

.miloLogo-map{
width: 110px;
position: absolute;
margin-bottom: -15px;

}

.miloLogo-map{
    left: 20px;
bottom: 20px;
} 
.poweredSvg-map{
    right: 20px;
bottom: 5%;
}

.rwCell .poweredSvg{
    width: 130px;
    position: absolute;
    display: inline-block;
    top: 35px;
    left: 170px;
}

.poweredSvg path, .miloLogo path,
.poweredSvg-map path, .miloLogo-map path{
    fill: rgba(255,255,255,0.2);
}

.poweredSvg:hover path, .miloLogo:hover path,
.poweredSvg-map:hover path, .miloLogo-map:hover path{
    fill: rgba(255,255,255,0.6);
}

/*MAPAAA*/


    #map {
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
    }

    #map svg {
        width: 100%;
        height: 100%;
    }

    #map .feature {
        fill : rgba(0,0,0,0.2);
        stroke : rgba(0,0,0,0.2);
    }

    #c {
        left: 0;
        top: 0;
        z-index: 1;
    }

    #s {
        left: 0;
        top: 0;
        z-index: 2;
    }

    .gtLeg, .gttLeg {
        fill : #f9f9f9;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    }

    .com-mess {
        font-size: 11pt;
        font-family: Verdana,serif;
        fill: #ffffff;
        fill-opacity: .3;
    }

    #pb {
        left: 0;
        bottom: 0;
        position: fixed;
        z-index: 100;
        height: auto;
        font-size: 10px;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
}


.dataTables_scrollBody{
    background: rgb(42,44,49);
}

.dataTables_scrollHead{
    background: rgb(62, 65, 71);
    border-bottom: 2px solid rgba(0,0,0,0.4);
}